apiVersion: v2
name: {{ name }}
version: 0.1.0
description: |
  {{ description }}
type: application
{%- if keywords %}
keywords:
  {%- for item in keywords.split(',') %}
  - {{ item|trim }}
  {%- endfor %}
{%- endif %}
home: {{ homepage }}
sources:
  - https://github.com/jasonb5/charts/tree/main/charts/{{ name }}
{%- if sources %}
  {%- for item in sources.split(',') %}
  - {{ item|trim }}
  {%- endfor %}
{%- endif %}
dependencies:
- name: common
  version: 0.1.x
  repository: https://jasonb5.github.io/charts
{%- if redis_enabled %}
- name: redis
  version: {{ redis_version }}
  repository: oci://registry-1.docker.io/bitnamicharts
  condition: redis.enabled
{%- endif -%}
{%- if mariadb_enabled %}
- name: mariadb
  version: {{ mariadb_version }}
  repository: oci://registry-1.docker.io/bitnamicharts
  condition: mariadb.enabled
{%- endif -%}
{%- if postgresql_enabled %}
- name: postgresql
  version: {{ postgresql_version }}
  repository: oci://registry-1.docker.io/bitnamicharts
  condition: postgresql.enabled
{%- endif %}
maintainers:
  - name: jasonb5
appVersion: {{ version }}
