# -- Workload type
workload: deployment

image:
  # -- Image repository
  repository: {{ image }}
  # -- Image tag
  # @default -- Chart.AppVersion
  tag:

# -- Environment variables
env:
  # -- Set the timezone
  TZ: UTC

service:
  ports:
    # -- Default port
    default:
      port: {{ port }}

ingress:
  enabled: false
  hosts:
  # -- Default ingress
  - name: default

persistence:
  # -- Configuration mount
  config:
    enabled: false
    type: emptydir

{% if redis_enabled %}
# -- Redis server, see Bitnami chart for [values](https://github.com/bitnami/charts/tree/main/bitnami/redis#parameters)
redis:
  enabled: false
  architecture: standalone
  auth:
    enabled: false
    sentinel: false
    password:
  master:
    persistence:
      enabled: false
  replica:
    persistence:
      enabled: false
  sentinel:
    enabled: false
  metrics:
    enabled: false
{% endif -%}
{%- if mariadb_enabled %}
# -- MariaDB server, see Bitnami chart for [values](https://github.com/bitnami/charts/tree/main/bitnami/mariadb#parameters)
mariadb:
  enabled: false
  architecture: standalone
  auth:
    rootPassword:
    database:
    username:
    password:
  primary:
    persistence:
      enabled: false
  secondary:
    persistence:
      enabled: false
  metrics:
    enabled: false
{% endif -%}
{%- if postgresql_enabled %}
# -- PostgreSQL server, see Bitnami chart for [values](https://github.com/bitnami/charts/tree/main/bitnami/postgresql#parameters)
postgresql:
  enabled: false
  architecture: standalone
  auth:
    postgresPassword:
    database:
    username:
    password:
  primary:
    persistence:
      enabled: false
  readReplicas:
    persistence:
      enabled: false
  metrics:
    enabled: false
{% endif -%}
