# -- The default [workload](https://jasonb5.github.io/charts/site/guide/common-library/#workload) type
workload: deployment

image:
  # -- Container image repository
  repository: {{ image }}
  # -- Image tag
  # @default -- Chart.AppVersion
  tag:

env:
  # -- Set the timezone
  TZ: UTC

# -- [Service](https://jasonb5.github.io/charts/site/guide/common-library/#service)
service:
  ports:
    default:
      # -- Default port
      port: {{ port }}

# -- [Ingress](https://jasonb5.github.io/charts/site/guide/common-library/#ingress)
ingress:
  # -- Enable/disable ingress
  enabled: false
  hosts:
    # -- Reference default service
  - name: default
    # -- Ingress hostname
    host:
  # -- [TLS](https://jasonb5.github.io/charts/site/guide/common-library/#tls)
  tls:
    # -- Enable/disable tls
    enabled: false

# -- [Persistence](https://jasonb5.github.io/charts/site/guide/common-library/#persistence)
persistence:
  config:
    # -- Enable/disable persistence
    enabled: false
    # -- Type of volume mount
    type: pvc
    # -- Size of volume
    size: 1Gi

{% if redis_enabled %}
# -- Redis server, see Bitnami chart for [values](https://github.com/bitnami/charts/tree/main/bitnami/redis#parameters)
redis:
  enabled: false
  architecture: standalone
  auth:
    enabled: false
    sentinel: false
    password:
  master:
    persistence:
      enabled: false
  replica:
    persistence:
      enabled: false
  sentinel:
    enabled: false
  metrics:
    enabled: false
{% endif -%}
{%- if mariadb_enabled %}
# -- MariaDB server, see Bitnami chart for [values](https://github.com/bitnami/charts/tree/main/bitnami/mariadb#parameters)
mariadb:
  enabled: false
  architecture: standalone
  auth:
    rootPassword:
    database:
    username:
    password:
  primary:
    persistence:
      enabled: false
  secondary:
    persistence:
      enabled: false
  metrics:
    enabled: false
{% endif -%}
{%- if postgresql_enabled %}
# -- PostgreSQL server, see Bitnami chart for [values](https://github.com/bitnami/charts/tree/main/bitnami/postgresql#parameters)
postgresql:
  enabled: false
  architecture: standalone
  auth:
    postgresPassword:
    database:
    username:
    password:
  primary:
    persistence:
      enabled: false
  readReplicas:
    persistence:
      enabled: false
  metrics:
    enabled: false
{% endif -%}
